#root {
    width: 90%;
    margin: auto;
    max-width: 1000px;
    min-width: 810px;
}


.char-create.container {
    border: 1px solid black;
    height: 6rem;
}

.header.container {
    display: inline-block;
    width: 50%;
    height: 100%;
}

.header.stats {
    float: right;
}

.header.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    height: 100%;
    width: 100%;
}

.grid-item {
    align-self: center;
}

.vert-center {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.wrapper {
    height: 100%;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px;
    height: 70rem;
    width: 100%;
}

.chars {
    border: 1px solid black;
    grid-row: 1 / span 2;
    height: 100%;
    width: 100%;
}
.main-stats.container {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid red;
    height: 100%;
    width: 35%;
}
.main-stat.container {
    border: 2px solid greenyellow;
}
.main-stat.container * {
    display: block;
    text-align: center;
    margin: auto;
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.inline {
    display: inline;
}
input[type="number"] {
    width: 2rem;
}
.single-stats.container {
    display: inline-block;
    border: 1px solid black;
    width: 100%;
    margin-bottom: 20px;
}
.saving-throws.container {
    display: inline-block;
    border: 1px solid salmon;
    width: 100%;
}
.skills.container {
    margin-top: 30px;
    display: inline-block;
    border: 1px solid lime;
    width: 100%;
}
.right-part {
    display: inline;
    width: 64%;
    float: right;
}

.text-center {
    text-align: center;
}
.uppercase {
    text-transform: uppercase;
}
.central-stats {
    border: 1px solid blue;
}
.center {
    text-align: center;
}
.third {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid red;
    height: 100%;
    flex: 1 1 0px;
    width: 0;
}
.margin-auto {
    margin: auto;
}
.central-top-row {
    height: 20%;
    display: flex;
    justify-content: space-around;
}