#root {
    width: 90%;
    margin: auto;
    max-width: 900px;
    min-width: 600px;
}

.char-create.container {
    border: 1px solid black;
    height: 6rem;
}

.header.container {
    display: inline-block;
    width: 50%;
    height: 100%;
}

.header.stats {
    float: right;
}

.header.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    height: 100%;
    width: 100%;
}

.grid-item {
    align-self: center;
}

.vert-center {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.wrapper {
    height: 100%;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 70rem;
    width: 100%;
}

.chars {
    border: 1px solid black;
    grid-row: 1 / span 2;
    height: 100%;
    width: 100%;
}
.main-stats.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid red;
    height: 100%;
    width: 35%;
}
.main-stat.container {
    border: 2px solid greenyellow;
}
.main-stat.container * {
    display: block;
    text-align: center;
    margin: auto;
}
.main-stat.container input {
    width: 3rem;
}
.main-stat.container input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}